
<p>
  <strong>Commenter:</strong>
  <%= pooja.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= pooja.body %>
</p>


<p>
  <%= link_to 'Destroy Comment', [pooja.article, pooja],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<% pooja.replies.each do |reply| %>

<%= render 'replies/reply', reply:reply, comment: pooja %>

<% end %>


<%= render 'replies/form',kushwaha: pooja %>

